@font-face {
    font-family: 'ProximaNovaRegular';
    src: url("ProximaNovaRegular.otf");
    src: url("ProximaNovaRegular.otf") format("opentype"), url("ProximaNovaRegular.woff2") format("woff2"), url("ProximaNovaRegular.woff") format("woff"), url("ProximaNovaRegular.ttf") format("truetype"), url("ProximaNovaRegular.svg#ProximaNovaRegular") format("svg")
}

@font-face {
    font-family: 'ProximaNovaLight';
    src: url("ProximaNovaLight.otf");
    src: url("ProximaNovaLight.otf") format("opentype"), url("ProximaNovaLight.woff2") format("woff2"), url("ProximaNovaLight.woff") format("woff"), url("ProximaNovaLight.ttf") format("truetype"), url("ProximaNovaLight.svg#ProximaNovaLight") format("svg")
}

@font-face {
    font-family: 'ProximaNovaBold';
    src: url("ProximaNovaBold.otf");
    src: url("ProximaNovaBold.otf") format("opentype"), url("ProximaNovaBold.woff2") format("woff2"), url("ProximaNovaBold.woff") format("woff"), url("ProximaNovaBold.ttf") format("truetype"), url("ProximaNovaBold.svg#ProximaNovaBold") format("svg")
}

@font-face {
    font-family: 'PlayfairDisplayBlack';
    src: url("PlayfairDisplayBlack.ttf");
    src: url("PlayfairDisplayBlack.ttf") format("truetype"), url("PlayfairDisplayBlack.otf") format("opentype"), url("PlayfairDisplayBlack.woff2") format("woff2"), url("PlayfairDisplayBlack.woff") format("woff"), url("PlayfairDisplayBlack.svg#PlayfairDisplayBlack") format("svg")
}

body {
    font-family: 'ProximaNovaRegular'
}

h1 {
    font-family: 'PlayfairDisplayBlack';
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0px;
    text-transform: none
}

h2,
.h2 {
    font-family: PlayfairDisplayBlack;
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 0px
}

h3,
.h2 {
    font-family: ProximaNovaRegular;
    font-weight: bold;
    letter-spacing: 0px
}

.top_bar {
    height: auto
}

.top_bar_free_shipping {
    color: #fff;
    text-align: center;
    line-height: 28px;
    padding: 6px 0px
}

#shopify-section-header {
    border-bottom: 0px solid #ccc
}

div.logo {
    width: 16%
}

.nav {
    width: 41%
}

.main_nav,
.dropdown {
    padding: 0px 15px;
    background: #f0f0e4
}

@media (max-width: 768px) {
    .main_nav,
    .dropdown {
        padding: 0px 15px;
        background: #000
    }
}

.menu.align_right,
.menu.align_left {
    margin: 0px
}

@media only screen and (min-width: 1200px) {
    .nav ul.menu {
        padding-top: 19px !important;
        padding-bottom: 19px !important
    }
}

@media only screen and (max-width: 1199px) and (min-width: 960px) {
    .nav ul.menu { 
        padding-top: 14px !important;
        padding-bottom: 14px !important
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .nav ul.menu {
        padding-top: 9px !important;
        padding-bottom: 9px !important
    }
    .main_nav div.logo a {
        padding-top: 15px;
        padding-bottom: 16px
    }
}

@media (min-width: 960px) {
    .cart_content {
        max-width: 420px;
        min-width: 380px
    }
}

@media (min-width: 768px) {
    .cart_content {
        max-width: 350px;
        min-width: 300px
    }
}

.menu.right a,
.menu.right a.mini_cart span,
.menu.right span,
.menu.right a.mini_cart span:hover,
.menu.right a:hover,
.menu.right span:hover {
    font-family: 'ProximaNovaRegular';
    font-size: 12px;
    color: #fff
}

.menu a.top_link,
.menu a.dropdown_link {
    font-family: 'ProximaNovaBold';
    border-bottom: solid 0px transparent;
    font-size: 13px;
    color: #6a827d;
    margin: 8px 6px 2px 0px;
    padding: 0px
}

@media only screen and (max-width: 1199px) and (min-width: 960px) {
    .menu a.top_link,
    .menu a.dropdown_link {
        font-size: 10px
    }
}

@media only screen and (max-width: 959px) and (min-width: 768px) {
    .menu a.top_link,
    .menu a.dropdown_link {
        font-size: 8px
    }
}

.menu a,
.menu a:visited,
.menu a:active,
.menu a.mini_cart span {
    color: #6a827d
}

.menu a.active {
    color: #6a827d;
    font-weight: bold
}

.menu li a:hover,
.menu li a:focus,
.menu a:hover span {
    color: #000;
    border-bottom: solid 0px transparent
}

.menu a.top_link:hover,
.menu a.dropdown_link:hover,
.menu a.active_link {
    border-bottom: solid 0px transparent
}

@media (max-width: 768px) {
    .menu a,
    .menu a:visited {
        color: #FFF
    }
    .menu a:hover,
    .menu a.dropdown_link:hover,
    .menu a.active_link {
        color: #efefef
    }
}

div.logo {
    width: 14%
}

.main_nav div.logo a {
    padding-top: 10px;
    padding-bottom: 10px
}

.mini_cart img {
    display: inline-block;
    vertical-align: middle
}

.top_bar .menu a,
.top_bar .menu a:hover,
a.mini_cart span,
a.mini_cart span:hover {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-size: 12px;
    color: #fff
}

.top_bar .menu a {
    height: 40px;
    line-height: 44px;
    padding: 0
}

.icon-usa-made {
    line-height: 40px;
    padding: 0
}

.icon-usa-made img {
    display: inline-block;
    vertical-align: middle
}

.icon-usa-made .usa-made-text {
    line-height: 40px;
    padding: 0px 5px
}

.menu li.search_container {
    width: 40%;
    float: right;
    padding-top: 3px;
    padding-left: 25px
}

.search-submit {
    position: absolute;
    z-index: 1000;
    color: #6a827d;
    font-size: 20px;
    top: 5px;
    right: 5px;
    cursor: pointer
}

.search_container input[type="text"],
.search_container input[type="text"]:focus {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-size: 14px;
    color: #6a827d;
    height: 32px;
    min-height: 32px;
    padding: 0 10px;
    margin: 0;
    line-height: 18px;
    border: 1px solid #969c98
}

.search_container input[type="text"]::-webkit-input-placeholder {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    font-size: 14px;
    color: #6a827d
}

form.search_form {
    border: 0px solid #969c98
}

.footer {
    background-color: #0a4135;
    background-image: url("https://cdn.shopify.com/s/files/1/0875/1624/files/footer-bg.jpg?4619556500847741285")
}

.footer .footer-menu-wrap h6 {
    color: #fff;
    font-family: 'ProximaNovaBold';
    font-size: 18px;
    text-transform: none
}

.footer a,
.footer a:visited {
    color: #FFF;
    font-family: 'ProximaNovaLight';
    font-size: 16px
}

footer .social_icons {
    display: block;
    margin: 0px;
    padding: 0
}

.newsletter_heading {
    padding: 10px 0px
}

@media (max-width: 768px) {
    .newsletter_heading {
        padding: 0px 0px;
        text-align: left
    }
}

input.contact_email[type="email"] {
    width: 60%;
    margin-right: 0;
    display: inline-block
}

@media only screen and (max-width: 959px) {
    input.contact_email[type="email"] {
        width: 100%
    }
}

#contact_form .action_button.sign_up {
    display: inline-block;
    width: 40%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    float: right;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    background: #f0f1e5;
    border: 1px solid #ccc;
    color: #222
}

.newsletter .message,
.newsletter p {
    color: #FFF;
    font-size: 13px;
    text-align: right;
    width: 100%;
    float: left
}

.footer2 {
    font-size: 13px;
    padding: 0px;
    border-top: solid 1px #1b1f23;
    background-color: #072e25;
    background-position: center center;
    color: #FFF
}

.no-padding {
    padding: 0px !important
}

.static_page_banner {
    background-color: #1b1f23;
    overflow: hidden;
    max-height: 100vh
}

.bg_gray {
    background-color: #f0f1e5
}

.bg_green {
    background-color: #0a4135
}

.color_white {
    color: #FFF !important
}

.text-shadow {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
}

.featured-link--half .description {
    margin: 0px
}

@media (min-width: 960px) {
    .headline,
    .caption .headline,
    .static_page_banner .headline,
    .myfeatured-content-section .title,
    .featured-link--half .collection_title {
        font-family: 'PlayfairDisplayBlack';
        font-size: 36px;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: 0px;
        text-transform: none
    }
    .featured-link--half .low_info {
        display: inline-block;
        width: 75%
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .headline,
    .caption .headline,
    .static_page_banner .headline,
    .myfeatured-content-section .title,
    .featured-link--half .collection_title {
        font-family: 'PlayfairDisplayBlack';
        font-size: 28px;
        font-weight: bold;
        line-height: 1.2em;
        letter-spacing: 0px;
        text-transform: none
    }
    .featured-link--half .description {
        font-size: 1.6vw
    }
}

@media (max-width: 768px) {
    .headline,
    .caption .headline,
    .static_page_banner .headline,
    .myfeatured-content-section .title,
    .featured-link--half .collection_title {
        font-family: 'PlayfairDisplayBlack';
        font-size: 28px;
        font-weight: bold;
        line-height: 1em;
        letter-spacing: 0px;
        text-transform: none
    }
    .featured-link--half .collection_title {
        font-size: 4vw
    }
    .featured-link--half .info.text-align--left {
        padding: 0px;
        width: 90%
    }
}

@media (max-width: 480px) {
    .headline,
    .caption .headline,
    .static_page_banner .headline,
    .myfeatured-content-section .title,
    .featured-link--half .collection_title {
        font-family: 'PlayfairDisplayBlack';
        font-size: 2.0em;
        font-weight: normal;
        line-height: 1.2em;
        letter-spacing: 0px;
        text-transform: none;
        margin: 10px auto
    }
    .featured-link--half .info.text-align--left {
        padding: 20px;
        width: 80%
    }
}

.promo_banner p {
    font-family: 'ProximaNovaRegular';
    font-size: 12px;
    color: #fff
}

.promo_banner .promo_banner-close {
    color: #fff
}

.caption .color_black {
    text-transform: none;
    color: #222222
}

.privacy_policy_content .static_page_heading {
    font-size: 56px;
    color: #222222;
    margin-top: 20px;
    margin-bottom: 28px;
    border-bottom: 4px solid #222;
    text-transform: none
}

.privacy_policy_content h2 {
    color: #222222;
    font-weight: bold;
    margin-bottom: 28px
}

.privacy_policy_content p {
    color: #222222;
    margin-bottom: 28px
}

@media (min-width: 960px) {
    .privacy_policy_content .static_page_heading {
        font-size: 56px;
        color: #222
    }
    .privacy_policy_content h2 {
        font-size: 24px;
        color: #222
    }
    .privacy_policy_content p {
        font-size: 20px;
        color: #222
    }
}

@media (min-width: 769px) {
    .privacy_policy_content .static_page_heading {
        font-size: 46.666666666666664px;
        color: #222
    }
    .privacy_policy_content h2 {
        font-size: 20px;
        color: #222
    }
    .privacy_policy_content p {
        font-size: 18px;
        color: #222
    }
}

@media (max-width: 768px) {
    .privacy_policy_content .static_page_heading {
        font-size: 37.333333333333336px;
        color: #222
    }
    .privacy_policy_content h2 {
        font-size: 16px;
        color: #222
    }
    .privacy_policy_content p {
        font-size: 15px;
        color: #222
    }
}

@media (max-width: 480px) {
    .caption .headline {
        font-size: 2.6em;
        color: #fff
    }
    .privacy_policy_content .static_page_heading {
        font-size: 1.8em;
        color: #222
    }
    .privacy_policy_content h2 {
        font-size: 1.2em;
        color: #222
    }
    .privacy_policy_content p {
        font-size: 1.0em;
        color: #222
    }
}

.myfeatured-content-section {
    -webkit-transform: translate3d(0, 0, 0);
    padding: 15px 0
}

.helpful_faqs {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
    list-style: none
}

.helpful_faqs li {
    margin: 0px;
    padding: 8px 0px;
    border-bottom: 1px solid #ccc
}

.faqs_arrow {
    float: left;
    width: 20px
}

.faqs_title {
    cursor: pointer
}

.faqs_content {
    margin: 5px 20px
}

.faqs_content_hide {
    display: none
}

.faqs_content_show {
    display: block
}

@media only screen and (min-width: 768px) {
    .static_page_banner .banner_container {
        background-color: #1b1f23
    }
    .static_page_banner .banner_container .caption {
        max-width: 960px;
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        -ms-transform: translate(0, -50%);
        transform: translate(0, -50%);
        z-index: 3
    }
    .static_page_banner .banner_container .caption .headline,
    .static_page_banner .banner_container .caption .subtitle {
        text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3)
    }
    .static_page_banner .banner_container .caption.caption_top {
        top: 33%
    }
    .static_page_banner .banner_container .caption.caption_bottom {
        bottom: 33%
    }
}

@media only screen and (max-width: 768px) {
    .static_page_banner .banner_container .caption {
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .banner_container .caption .headline {
        font-size: 42.666667px
    }
}

@media (min-width: 1200px) {
    .static_page_banner .caption {
        top: 50%;
        max-width: 960px
    }
    .static_page_banner .caption .lower_button {
        min-height: 330px
    }
}

@media (min-width: 960px) and (max-width: 1199px) {
    .static_page_banner .caption {
        top: 50%;
        max-width: 780px
    }
    .static_page_banner .caption .lower_button {
        min-height: 230px
    }
}

@media (min-width: 769px) and (max-width: 959px) {
    .static_page_banner .caption {
        top: 50%;
        max-width: 600px
    }
    .static_page_banner .caption .lower_button {
        min-height: 150px
    }
}

@media (max-width: 480px) {
    .static_page_banner .caption {
        margin: 5% 0;
        font-size: 3vw;
        position: static;
        transform: none;
        width: 100%
    }
    .static_page_banner .description {
        color: #fff
    }
}

h1.product_name {
    text-align: center
}

.product_section .description {
    text-align: center
}

.product_section .product_form {
    max-width: 100%
}

.reviews_top_section {
    margin: 0 auto 15px
}

.balanced_product_image {
    text-align: right
}

.balanced_product_plus .plus_sign {
    font-size: 30px
}

@media (max-width: 767px) {
    .balanced_product_image,
    .balanced_product_text,
    .balanced_product_button {
        text-align: center
    }
    .balanced_product_plus {
        text-align: center;
        font-size: 36px
    }
}

.balanced_products img {
    max-width: 100%;
    height: auto
}

.icon_bar img {
    vertical-align: middle;
    margin-right: 5px
}

.size_guide img {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle
}

.size_guide_content {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-bottom: 20px
}

.modalbox_section {
    float: left;
    width: 100%;
    margin: 0 auto;
    padding: 0
}

.modalbox_section .size_column {
    float: left;
    width: 28%;
    width: 33%;
    display: inline
}

.modalbox_section .size_column .section {
    margin-left: 10px;
    margin-right: 10px
}

.mattress_layer img {
    width: 15%;
    display: inline-block;
    margin-right: 4%;
    vertical-align: middle
}

.mattress_layer_content {
    width: 75%;
    display: inline-block;
    vertical-align: middle;
    text-align: left
}

.mattress_layer_content p {
    margin-bottom: 0
}

.product_gallery_nav .gallery-cell {
    width: 10%
}

.product_gallery_nav .gallery-cell img {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 1px
}

.size-section-image {
    vertical-align: middle
}

.size-section-text {
    display: inline-block
}

.mattress-detais {
    padding: 0 0 50px
}

.mattress-detais .details-chart-show {
    display: block
}

.mattress-detais .details-chart-hide {
    display: none
}

.item-details {
    width: 90%;
    margin: 0 auto
}

.item-details .section-header {
    background: url(//cdn.shopify.com/s/files/1/1390/2279/t/6/assets/detail-header.png?4227189142190132772) repeat-x;
    text-align: center
}

.item-details .section-header h1 {
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    text-align: center;
    display: inline-block;
    padding: 10px 30px 2px 30px;
    line-height: 24px;
    background: #fff;
    border: solid 1px #c7c8ca;
    border-radius: 10px;
    margin: 0 auto;
    color: #000;
    cursor: pointer;
    letter-spacing: 1px
}

.item-details .icon-down-arrow {
    font-size: 18px;
    font-weight: bold;
    line-height: 7px
}

.item-details .details-chart .cahrt-row .cell {
    padding: 20px 10px
}

.item-details .details-chart .cahrt-row .cell.small {
    width: 20%
}

.item-details .details-chart .cahrt-row .cell.large {
    width: 73.3%
}

.item-details .details-chart .cahrt-row .cell {
    display: block
}

.item-details .details-chart .cahrt-row .cell.small,
.item-details .details-chart .cahrt-row .cell.large {
    width: auto;
    padding: 20px 20px;
    min-height: 1px !important;
    text-align: left
}

.item-details .details-chart .variant-details {
    padding: 0px 20px;
    margin: 20px 0 0 0
}

.item-details .details-chart .variant-details li {
    width: 49%
}

.item-details .details-chart {
    border-top: solid 1px #9b9b9d;
    border-left: solid 1px #9b9b9d;
    border-right: solid 1px #9b9b9d;
    margin-top: 50px
}

.item-details .details-chart .cahrt-row {
    border-bottom: solid 1px #9b9b9d
}

.item-details .details-chart .cahrt-row:nth-child(3) .cell:first-child {
    min-height: 180px
}

.item-details .details-chart .cahrt-row .cell {
    border-left: solid 1px #9b9b9d;
    padding: 20px 40px;
    display: inline-block;
    vertical-align: middle;
    font-family: 'ProximaNovaLight';
    font-weight: normal;
    min-height: 90px
}

.item-details .details-chart .cahrt-row .cell.small {
    border-left: solid 0px #9b9b9d;
    width: 35%;
    font-size: 20px;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    text-transform: uppercase
}

.item-details .details-chart .cahrt-row .cell.large {
    width: 64%;
    font-size: 16px;
    font-family: 'ProximaNovaRegular';
    font-weight: normal
}

.item-details .details-chart .variant-details li {
    margin: 0 0 26px;
    padding: 0;
    list-style-type: none;
    width: 30%;
    display: inline-block;
    vertical-align: top;
    text-align: left
}

.item-details .details-chart .variant-details li span {
    display: block
}

@media (max-width: 767px) {
    .item-details .details-chart .cahrt-row .cell.small,
    .item-details .details-chart .cahrt-row .cell.large {
        width: auto;
        padding: 10px;
        min-height: 1px !important;
        text-align: center
    }
    .item-details .details-chart .cahrt-row .cell {
        display: block
    }
    .item-details .details-chart .cahrt-row .cell.large {
        border-left: none
    }
}

.modal p.modal_price,
p.modal_price {
    margin-bottom: 0px;
    padding: 0;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    font-size: 28px
}

.add_to_cart,
form.product_form input.add_to_cart {
    width: 100%;
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 0px;
    background: #fb2516;
    border: 1px solid #fb2516;
    border-radius: 4px;
    min-height: 42px;
    height: 46px
}

.free_us_shipping {
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    font-size: 14px;
    margin: 10px
}

select {
    background: url(//cdn.shopify.com/s/files/1/0875/1624/t/3/assets/select.png) no-repeat 96% 50%;
    background-color: #fff;
    background-size: 18px 12px;
    padding: 8px 14px 8px;
    border-radius: 4px;
    border: 1px solid #779c80;
    -webkit-appearance: none;
    -ms-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    font-family: 'ProximaNovaRegular';
    color: #333;
    font-size: 15px;
    text-transform: uppercase
}

select option {
    font-family: 'ProximaNovaRegular';
    color: #333;
    font-size: 15px;
    text-transform: uppercase
}

a.button,
.button {
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    padding: 0 30px;
    background: #233a30;
    border: 1px solid #233a30;
    border-radius: 5px
}

@media (min-width: 960px) {
    .caption {
        max-width: 1180px
    }
}

@media only screen and (max-width: 768px) {
    .home-product-list .thumbnail.even,
    .home-product-list .thumbnail.odd {
        width: 100% !important;
        margin: 1em 0px !important;
        text-align: center
    }
}

@media (max-width: 768px) {
    .caption .subtitle {
        font-size: 15px;
        letter-spacing: 0px
    }
}

.index-sections .under-menu:nth-child(1) {
    margin-top: 0px
}

h1.home-product-title {
    font-size: 28px
}

.caption .subtitle {
    font-family: 'ProximaNovaRegular';
    font-weight: normal;
    text-transform: none
}

h2.title {
    font-family: 'PlayfairDisplayBlack';
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2em;
    letter-spacing: 0px;
    text-transform: none
}

a.action_button,
.action_button {
    font-family: 'ProximaNovaRegular';
    font-weight: bold;
    padding: 0 30px;
    border-radius: 0px
}

@media (min-width: 768px) {
    .caption-content {
        max-width: 80%
    }
}

.testimonial-section .testimonial-block.gallery-cell.use-mobile-color {
    background-color: #0b4134
}

.pattern_black {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(https://cdn.shopify.com/s/files/1/0875/1624/files/pattern_black.png?8409323125968850665) repeat;
    opacity: 0.5;
    top: 0;
    left: 0
}

.product_button {
    z-index: 4
}

.product_button img {
    width: auto;
    display: inline-block
}

@media (max-width: 480px) {
    .pattern_black {
        background: none
    }
    .banner_container .caption .color_black {
        color: #fff
    }
}

.products_button {
    position: absolute;
    bottom: 0px;
    font-size: 20px;
    width: 100%
}

.products_button img {
    width: 52px;
    display: inline-block
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .products_button {
        position: absolute;
        bottom: 0px;
        font-size: 18px;
        width: 100%
    }
    .products_button img {
        width: 32px;
        display: inline-block
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .products_button {
        position: absolute;
        bottom: 0px;
        font-size: 18px;
        width: 100%
    }
    .products_button img {
        width: 32px;
        display: inline-block
    }
}

@media only screen and (max-width: 768px) {
    .products_button {
        position: initial;
        bottom: 0px;
        font-size: 13px;
        color: #fff;
        width: auto;
        margin: 10px 10px
    }
    .products_button img {
        width: 24px;
        display: inline-block
    }
    .product_button {
        margin: 10px auto;
        display: block
    }
    .product_button img {
        width: 24px;
        display: inline-block
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .products_button {
        position: initial;
        bottom: 0px;
        font-size: 13px;
        color: #fff;
        width: auto;
        margin: 10px 10px
    }
    .products_button img {
        width: 24px;
        display: inline-block
    }
    .product_button {
        margin: 10px auto;
        display: block
    }
    .product_button img {
        width: 24px;
        display: inline-block
    }
}

.testimonial-section {
    border-bottom: 2px solid #85c04f
}

.testimonial-section p {
    text-align: justify;
    margin: 0px 0px 30px 0
}

a.button_white {
    background-color: #fff;
    border: 1px solid #fff;
    color: #222;
    margin: 20px auto
}

a.button_white:hover {
    background: #fff;
    border: 1px solid #fff;
    color: #03857c
}

@media only screen and (max-width: 1199px) and (min-width: 960px) {
    .home-product-list .one-fifth.column {
        width: 300px
    }
    .home-product-list .one-fifth.column p {
        min-height: 75px
    }
    .home-product-list .one-fifth.column:nth-child(3n+3) {
        margin-right: 0px
    }
    .home-product-list .one-fifth.column:nth-child(4n+4) {
        margin-left: 165px
    }
    .home-product-list .thumbnail {
        margin-bottom: 35px
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .home-product-list .one-fifth.column {
        width: 236px
    }
    .home-product-list .one-fifth.column p {
        min-height: 75px
    }
    .home-product-list .one-fifth.column:nth-child(3n+3) {
        margin-right: 0px
    }
    .home-product-list .one-fifth.column:nth-child(4n+4) {
        margin-left: 133px
    }
    .home-product-list .thumbnail {
        margin-bottom: 35px
    }
}

@media only screen and (max-width: 768px) {
    .home-product-list .thumbnail {
        margin-bottom: 35px
    }
}

.toppers_badge {
    text-align: center
}

div.faqs-content {
    padding: 30px 0px 100px 0px
}

div.faqs-content h1 {
    margin-top: 60px
}

div.faqs-content h3 {
    text-transform: none;
    font-size: 24px;
    color: #0a4135;
    letter-spacing: 1px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ccc
}

div.faqs-content .feature_divider {
    border-top: 3px solid #0a4135
}

input.faq-search-input {
    background: url(https://cdn.shopify.com/s/files/1/0875/1624/files/icon-search.png?2294521777027892560) no-repeat right center;
    background-position-x: calc(100% - 10px);
    height: 50px !important;
    padding-right: 50px;
    padding-left: 20px;
    background-color: #fff;
    font-family: 'ProximaNovaRegular';
    font-size: 20px
}

.faqs-list {
    border-bottom: 1px solid #ccc;
    margin-bottom: 15px
}

.faqs-question {
    font-size: 22px;
    font-style: normal;
    color: #222222;
    line-height: 1.6em;
    margin-bottom: 15px;
    cursor: pointer
}

.faqs-ans {
    font-size: 22px;
    font-style: normal;
    color: #222222;
    line-height: 1.6em;
    margin-bottom: 15px
}

.faqs-ans-show {
    display: block
}

.faqs-ans-hide {
    display: none
}

.container.icon-content {
    padding: 50px 0px 50px 0px
}

.contact-section {
    margin-bottom: 20px
}

.contact-button {
    background-color: #0a4135;
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 20px
}

.contact-button img {
    vertical-align: middle;
    margin-right: 5px
}

.contact-section p {
    font-size: 24px;
    font-style: normal;
    line-height: 1.6em;
    margin-bottom: 15px
}

.contact-section p+p {
    font-size: 18px;
    font-style: normal;
    line-height: 1.6em;
    margin-bottom: 15px
}

.review-section {
    background: #e5e6e7;
    background: -moz-linear-gradient(top, #e5e6e7 0%, #f5f4f5 10%, #f5f4f5 90%, #e5e6e7 100%);
    background: -webkit-linear-gradient(top, #e5e6e7 0%, #f5f4f5 10%, #f5f4f5 90%, #e5e6e7 100%);
    background: linear-gradient(to bottom, #e5e6e7 0%, #f5f4f5 10%, #f5f4f5 90%, #e5e6e7 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#e5e6e7', endColorstr='#e5e6e7', GradientType=0)
}

body.product .yotpo .yotpo-label.yotpo-small-box {
    display: none
}

body.product .yotpo .yotpo-regular-box.yotpo-bottomline-empty-state {
    border: none !important
}

body.product .yotpo .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews {
    width: 100% !important;
    max-width: 100% !important;
    display: block;
    float: none !important;
    text-align: center !important
}

body.product .yotpo .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-sum-reviews {
    display: block !important;
    font-size: 20px;
    margin-top: 15px
}

body.product .yotpo .yotpo-bottomline-box-1.yotpo-stars-and-sum-reviews .yotpo-icon-star {
    color: #c7c8ca !important;
    margin-right: 5px
}

body.product .yotpo .yotpo-nav {
    display: none !important
}

body.product .yotpo.yotpo-main-widget .yotpo-bottomline.yotpo-bottomline-2-boxes .yotpo-default-button {
    position: relative !important
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header,
body.product .yotpo-review.yotpo-regular-box .yotpo-main {
    display: inline-block !important;
    vertical-align: top
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header {
    width: 25%
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-icon-profile {
    display: none !important
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-element {
    width: 100%;
    text-align: center !important
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-element .yotpo-user-name,
body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-element .yotpo-review-stars,
body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-element .yotpo-review-date {
    font-size: 20px !important;
    text-transform: capitalize !important;
    margin-bottom: 20px;
    color: #000 !important;
    font-weight: normal
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-element .yotpo-review-stars .yotpo-icon-star {
    margin-right: 5px;
    font-size: 26px
}

body.product .yotpo-review.yotpo-regular-box .yotpo-header .yotpo-header-actions {
    float: none !important
}

body.product .yotpo-review.yotpo-regular-box .yotpo-main {
    width: 72%;
    margin: 0 0 0 20px !important;
    margin-top: 0
}

body.product .yotpo-review.yotpo-regular-box .yotpo-main .content-title,
body.product .yotpo-review.yotpo-regular-box .yotpo-main .content-review,
body.product .yotpo-review.yotpo-regular-box .yotpo-main .rest-content-collapsed {
    font-size: 18px;
    line-height: 30px;
    font-weight: normal;
    color: #000 !important;
    font-family: 'ProximaNovaRegular'
}

body.product .yotpo-review.yotpo-regular-box .yotpo-main .content-title {
    font-family: 'ProximaNovaRegular';
    font-size: 22px
}

body.product .yotpo-review.yotpo-regular-box .yotpo-main .rest-content-collapsed {
    font-size: 18px;
    line-height: 30px
}

body.product .yotpo-review.yotpo-regular-box .yotpo-footer {
    display: none
}

.yotpo.bottomLine,
.ready-to-ship {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    line-height: normal
}

.ready-to-ship {
    width: 39%
}

.yotpo.bottomLine {
    text-align: center
}

.yotpo.bottomLine .yotpo-bottomline.pull-left {
    float: none !important;
    text-align: center;
    display: inline-block
}

.yotpo.bottomLine .yotpo-bottomline.pull-left .yotpo-stars {
    margin-right: 15px
}

.yotpo.bottomLine .text-m {
    font-size: 14px;
    font-family: 'ProximaNovaRegular';
    color: #95c93d !important
}

.yotpo.bottomLine .yotpo-icon-star {
    font-size: 25px;
    margin-right: 5px
}

.banner_container {
    width: 1200px;
    margin: 0 auto;
    padding: 0
}

.banner_container.full-width {
    width: 100%
}

.banner_container .one.column {
    width: 55px
}

.banner_container .two.columns {
    width: 130px
}

.banner_container .three.columns {
    width: 205px
}

.banner_container .four.columns {
    width: 280px
}

.banner_container .five.columns {
    width: 355px
}

.banner_container .six.columns {
    width: 430px
}

.banner_container .seven.columns {
    width: 505px
}

.banner_container .eight.columns {
    width: 580px
}

.banner_container .nine.columns {
    width: 655px
}

.banner_container .ten.columns {
    width: 730px
}

.banner_container .eleven.columns {
    width: 805px
}

.banner_container .twelve.columns {
    width: 880px
}

.banner_container .thirteen.columns {
    width: 955px
}

.banner_container .fourteen.columns {
    width: 1030px
}

.banner_container .fifteen.columns {
    width: 1105px
}

.banner_container .sixteen.columns {
    width: 1180px
}

.banner_container .one-third.column {
    width: 380px
}

.banner_container .two-thirds.column {
    width: 780px
}

.banner_container .one-fifth.column {
    width: 220px
}

.banner_container .one-sixth.column {
    width: 180px
}

.banner_container .one-seventh.column {
    width: 151px
}

.banner_container .offset-by-one {
    padding-left: 75px
}

.banner_container .offset-by-two {
    padding-left: 150px
}

.banner_container .offset-by-three {
    padding-left: 225px
}

.banner_container .offset-by-four {
    padding-left: 300px
}

.banner_container .offset-by-five {
    padding-left: 375px
}

.banner_container .offset-by-six {
    padding-left: 450px
}

.banner_container .offset-by-seven {
    padding-left: 525px
}

.banner_container .offset-by-eight {
    padding-left: 600px
}

.banner_container .offset-by-nine {
    padding-left: 675px
}

.banner_container .offset-by-ten {
    padding-left: 750px
}

.banner_container .offset-by-eleven {
    padding-left: 825px
}

.banner_container .offset-by-twelve {
    padding-left: 900px
}

.banner_container .offset-by-thirteen {
    padding-left: 975px
}

.banner_container .offset-by-fourteen {
    padding-left: 1050px
}

.banner_container .offset-by-fifteen {
    padding-left: 1125px
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .banner_container {
        width: 960px;
        margin: 0 auto;
        padding: 0
    }
    .banner_container .column,
    .banner_container .columns {
        float: left;
        display: inline;
        margin-left: 10px;
        margin-right: 10px
    }
    .banner_container .one.column,
    .banner_container .one.columns {
        width: 40px
    }
    .banner_container .two.columns {
        width: 100px
    }
    .banner_container .three.columns {
        width: 160px
    }
    .banner_container .four.columns {
        width: 220px
    }
    .banner_container .five.columns {
        width: 280px
    }
    .banner_container .six.columns {
        width: 340px
    }
    .banner_container .seven.columns {
        width: 400px
    }
    .banner_container .eight.columns {
        width: 460px
    }
    .banner_container .nine.columns {
        width: 520px
    }
    .banner_container .ten.columns {
        width: 580px
    }
    .banner_container .eleven.columns {
        width: 640px
    }
    .banner_container .twelve.columns {
        width: 700px
    }
    .banner_container .thirteen.columns {
        width: 760px
    }
    .banner_container .fourteen.columns {
        width: 820px
    }
    .banner_container .fifteen.columns {
        width: 880px
    }
    .banner_container .sixteen.columns {
        width: 940px
    }
    .banner_container .one-third.column {
        width: 300px
    }
    .banner_container .two-thirds.column {
        width: 620px
    }
    .banner_container .one-fifth.column {
        width: 172px
    }
    .banner_container .one-sixth.column {
        width: 140px
    }
    .banner_container .one-seventh.column {
        width: 117px
    }
    .banner_container .offset-by-one {
        padding-left: 60px
    }
    .banner_container .offset-by-two {
        padding-left: 120px
    }
    .banner_container .offset-by-three {
        padding-left: 180px
    }
    .banner_container .offset-by-four {
        padding-left: 240px
    }
    .banner_container .offset-by-five {
        padding-left: 300px
    }
    .banner_container .offset-by-six {
        padding-left: 360px
    }
    .banner_container .offset-by-seven {
        padding-left: 420px
    }
    .banner_container .offset-by-eight {
        padding-left: 480px
    }
    .banner_container .offset-by-nine {
        padding-left: 540px
    }
    .banner_container .offset-by-ten {
        padding-left: 600px
    }
    .banner_container .offset-by-eleven {
        padding-left: 660px
    }
    .banner_container .offset-by-twelve {
        padding-left: 720px
    }
    .banner_container .offset-by-thirteen {
        padding-left: 780px
    }
    .banner_container .offset-by-fourteen {
        padding-left: 840px
    }
    .banner_container .offset-by-fifteen {
        padding-left: 900px
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .banner_container {
        width: 768px
    }
    .banner_container .column,
    .banner_container .columns {
        margin-left: 10px;
        margin-right: 10px
    }
    .banner_container .one.column,
    .banner_container .one.columns {
        width: 28px
    }
    .banner_container .two.columns {
        width: 76px
    }
    .banner_container .three.columns {
        width: 124px
    }
    .banner_container .four.columns {
        width: 172px
    }
    .banner_container .five.columns {
        width: 220px
    }
    .banner_container .six.columns {
        width: 268px
    }
    .banner_container .seven.columns {
        width: 316px
    }
    .banner_container .eight.columns {
        width: 364px
    }
    .banner_container .nine.columns {
        width: 412px
    }
    .banner_container .ten.columns {
        width: 460px
    }
    .banner_container .eleven.columns {
        width: 508px
    }
    .banner_container .twelve.columns {
        width: 556px
    }
    .banner_container .thirteen.columns {
        width: 604px
    }
    .banner_container .fourteen.columns {
        width: 652px
    }
    .banner_container .fifteen.columns {
        width: 700px
    }
    .banner_container .sixteen.columns {
        width: 748px
    }
    .banner_container .one-third.column {
        width: 236px
    }
    .banner_container .two-thirds.column {
        width: 492px
    }
    .banner_container .one-fifth.column {
        width: 133px
    }
    .banner_container .one-sixth.column {
        width: 108px
    }
    .banner_container .one-seventh.column {
        width: 89px
    }
    .banner_container .offset-by-one {
        padding-left: 48px
    }
    .banner_container .offset-by-two {
        padding-left: 96px
    }
    .banner_container .offset-by-three {
        padding-left: 144px
    }
    .banner_container .offset-by-four {
        padding-left: 192px
    }
    .banner_container .offset-by-five {
        padding-left: 240px
    }
    .banner_container .offset-by-six {
        padding-left: 288px
    }
    .banner_container .offset-by-seven {
        padding-left: 336px
    }
    .banner_container .offset-by-eight {
        padding-left: 384px
    }
    .banner_container .offset-by-nine {
        padding-left: 432px
    }
    .banner_container .offset-by-ten {
        padding-left: 480px
    }
    .banner_container .offset-by-eleven {
        padding-left: 528px
    }
    .banner_container .offset-by-twelve {
        padding-left: 576px
    }
    .banner_container .offset-by-thirteen {
        padding-left: 624px
    }
    .banner_container .offset-by-fourteen {
        padding-left: 672px
    }
    .banner_container .offset-by-fifteen {
        padding-left: 720px
    }
}

@media only screen and (max-width: 768px) {
    .banner_container {
        width: 300px
    }
    .banner_container .columns,
    .banner_container .column {
        margin: 0
    }
    .banner_container .one.column,
    .banner_container .one.columns,
    .banner_container .two.columns,
    .banner_container .three.columns,
    .banner_container .four.columns,
    .banner_container .five.columns,
    .banner_container .six.columns,
    .banner_container .seven.columns,
    .banner_container .eight.columns,
    .banner_container .nine.columns,
    .banner_container .ten.columns,
    .banner_container .eleven.columns,
    .banner_container .twelve.columns,
    .banner_container .thirteen.columns,
    .banner_container .fourteen.columns,
    .banner_container .fifteen.columns,
    .banner_container .sixteen.columns,
    .banner_container .one-third.column,
    .banner_container .two-thirds.column,
    .banner_container .one-fifth.column,
    .banner_container .one-sixth.column,
    .banner_container .one-seventh.column {
        width: 300px
    }
    .banner_container .offset-by-one,
    .banner_container .offset-by-two,
    .banner_container .offset-by-three,
    .banner_container .offset-by-four,
    .banner_container .offset-by-five,
    .banner_container .offset-by-six,
    .banner_container .offset-by-seven,
    .banner_container .offset-by-eight,
    .banner_container .offset-by-nine,
    .banner_container .offset-by-ten,
    .banner_container .offset-by-eleven,
    .banner_container .offset-by-twelve,
    .banner_container .offset-by-thirteen,
    .banner_container .offset-by-fourteen,
    .banner_container .offset-by-fifteen {
        padding-left: 0
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    .banner_container {
        width: 420px
    }
    .banner_container .columns,
    .banner_container .column {
        margin: 0
    }
    .banner_container .one.column,
    .banner_container .one.columns,
    .banner_container .two.columns,
    .banner_container .three.columns,
    .banner_container .four.columns,
    .banner_container .five.columns,
    .banner_container .six.columns,
    .banner_container .seven.columns,
    .banner_container .eight.columns,
    .banner_container .nine.columns,
    .banner_container .ten.columns,
    .banner_container .eleven.columns,
    .banner_container .twelve.columns,
    .banner_container .thirteen.columns,
    .banner_container .fourteen.columns,
    .banner_container .fifteen.columns,
    .banner_container .sixteen.columns,
    .banner_container .one-third.column,
    .banner_container .two-thirds.column,
    .banner_container .one-fifth.column,
    .banner_container .one-sixth.column,
    .banner_container .one-seventh.column {
        width: 420px
    }
}

/*NEW RULES */

.pattern_black {
    display: none;
}

.static_page_banner .banner_container .caption {
    max-width: none !important;
    width: 100% !important;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0!important;
	top: 74%!important;
}

.static_page_banner .banner_container .caption .headline,
.static_page_banner .banner_container .caption .subtitle {
    text-shadow: none !important;
}

.banner_container .caption h1.color_white {
    color: #222222 !important;
    font-size: 55px;
    font-weight: 400;
    line-height: 77px;
    max-width: 700px;
    text-align: left !important;
    margin-left: 0;
    padding-top: 0px;
    padding-left: 90px;
}

.banner_container .caption p.text-shadow {
    text-shadow: none !important;
    color: #222222 !important;
    font-size: 36px;
    font-weight: normal;
    line-height: 53px;
    max-width: 600px;
    text-align: left !important;
    margin-left: 0;
    padding-top: 0px;
    padding-left: 90px;
	font-family: 'ProximaNovaLight'!important;
}

.static_page_banner .caption .lower_button {
    min-height: 0 !important;
}
